@use '../assets/colors.scss';

.form {
	position: relative;

	padding-bottom: 4em;
	border-bottom: 1px solid colors.$light-grey;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__group {
		flex-basis: 30%;
	}

	&__label {
		color: colors.$smokey-grey;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	&__input {
		width: 100%;
		padding: 0.2em 0.4em;
		margin-top: 0.2em;
		border: 1px solid colors.$light-grey;
		border-radius: 1rem;
		outline: none;

		&:focus {
			border-color: colors.$purple;
		}

		&--error {
			border-color: colors.$light-red;
		}
	}

	&__error {
		margin-top: 0.5em;
		font-size: 1.3rem;
		color: colors.$light-red;
		text-align: center;
		opacity: 0;

		&--visible {
			opacity: 1;
		}
	}

	&__btn {
		position: absolute;
		bottom: -35px;
		left: 50%;
		transform: translateX(-50%);
		width: 70px;
		height: 70px;
		background: colors.$purple;
		border: 1px solid colors.$purple;
		border-radius: 50%;
		outline: none;
		cursor: pointer;
		transition: background-color 0.3s;

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
			border-radius: 50%;
			border: 1px solid colors.$purple;
			content: '';
			transition: border-color 0.3s;
			animation: pulse 2s linear infinite;
			animation-delay: 5s;
		}

		&:hover {
			background: colors.$off-black;
		}

		&:hover::before {
			border-color: colors.$off-black;
		}
	}
}

@media (min-width: 768px) {
	.form {
		padding-bottom: 1.5em;

		&__container {
			justify-content: start;
		}

		&__group {
			flex-basis: 23%;
			margin-right: 1.5em;
		}

		&__error {
			margin-top: 1em;
			font-size: 1.4rem;
			text-align: left;
		}

		&__btn {
			left: 100%;
			transform: translateX(-100%);
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	20% {
		transform: scale(1.15);
		opacity: 0.8;
	}

	40% {
		transform: scale(1.2);
		opacity: 0.6;
	}

	60% {
		transform: scale(1.25);
		opacity: 0.4;
	}

	80% {
		transform: scale(1.3);
		opacity: 0.2;
	}

	100% {
		transform: scale(1.35);
		opacity: 0;
	}
}
