@use '../assets/colors.scss';

.calculator__result {
	margin-top: 3.5em;

	&-output {
		font-size: 4.2rem;
		font-weight: 800;
		font-style: italic;

		&--colored {
			color: colors.$purple;
		}
	}
}

@media (min-width: 576px) {
	.calculator__result {
		&-output {
			font-size: 6rem;
		}
	}
}

@media (min-width: 768px) {
	.calculator__result {
		margin-top: 1.5em;

		&-output {
			font-size: 7rem;
		}
	}
}
