@use '../assets/colors.scss';

.calculator__result {
	margin-top: 3.5em;

	&-output {
		display: flex;
		font-size: 4.2rem;
		font-weight: 800;
		font-style: italic;
		opacity: 0;
		animation: fade-in 1s ease-in-out forwards;

		&:nth-of-type(2) {
			animation-delay: 1s;
		}

		&:nth-of-type(3) {
			animation-delay: 2s;
		}

		&--colored {
			margin-right: 0.2em;
			color: colors.$purple;
		}
	}
}

@media (min-width: 576px) {
	.calculator__result {
		&-output {
			font-size: 6rem;
		}
	}
}

@media (min-width: 768px) {
	.calculator__result {
		margin-top: 1.5em;

		&-output {
			font-size: 7rem;
		}
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}